.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 75px;

}

.cell{
    border:1px solid grey;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:24px;

}
body{
    background-color:red;
}

.container{
    position: relative;
    top:0;
    height: 50vw;

}

.game-board{
    position: absolute;
    top: 0;
    width: 100%;
   

} 

.items-container{
    position: absolute;
    top: 0;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}


.playerContainer{
    display: flex;
    flex-direction: column;
    width: 10px;

}
.image1{
    position: absolute;
    left: 50%;
    width: 10%;
    top: 190px;
    


}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    }

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

.dice-container{
    display:flex;
    justify-content: space-around;
    margin: 10px;
}
.dice-face{
    font-size: 25px;
}

