.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 75px;

}

.cell{
    border:1px solid grey;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:24px;

}

.container{
    position: relative;
    top:0;
    height: 80vh;
    

}

.game-board{
    position: absolute;
    top: 0;
    width: 100%;
   
   

} 
body{
    background-color: yellow;
}

.items-container{
    position: absolute;
    top: 0;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}


.playerContainer{
    display: flex;
    flex-direction: column;
    width: 10px;

}
.image1{
    position: absolute;
    left: 50%;
    width: 8%;
    top: 190px;
}

.image2{
    position: absolute;
    left: 30%;
    width: 10%;
    top: 100px;
    transform: scaleX(-1);
}

.ladder1{
    position: absolute;
    left: 45%;
    width: 30px;
    top: 110px;
    rotate: 30deg;
}


.ladder2{
    position: absolute;
    left: 50%;
    width: 45px;
    top: 450px;
    rotate: 135deg;
}

.ladder3{
    position: absolute;
    left: 60%;
    width: 45px;
    top: 180px;
    rotate: 112deg;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}

.dice-container{
    display:flex;
    justify-content: space-around;
    margin: 10px;
}
.dice-face{
    font-size: 25px;
}

